<!DOCTYPE html>
<html>
<head>
    <div class="toggle">
        <input type="checkbox" id="night-mode" />
        <div class="slider"></div>
    </div>
    <label class="toggle-label" for="night-mode">Night Mode</label>
    <title>PDF Merger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	
</head>
<body>
    <h1>PDF Merger</h1>
    
    
    <div id="drop-area" ondblclick="browseFiles()">
        <p>Drag and drop PDF files here OR Double Click for Browse File</p>
		<p>Or<p>
		<p>Double Click for Browse File</p>
		<span class="symbol">&#128464;</span>
    </div>
    
    <div id="file-list"></div>
    <div id="move-description" style=font-size:20px>Can change the sequence of files by dragging and dropping them</div>
    
    <form id="merge-form" action="/merge" method="POST">
        <input type="submit" id="merge-button" value="Merge Files &#127800;" class="merge-button"style="color:#333;font-family: 'Arial', sans-serif;">
    </form>
    
    
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
